<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <div class="col-md-6 mb-3">
        <label for="roles">Roles</label>
        <div id="roles">
            <div class="form-check form-check-inline" th:each="role : ${rolesList}">
                <input type="checkbox" class="form-check-input" name="rolesArr"  th:id="${role.role}" th:value="${role.role}">
                <label class="form-check-label" th:for="${role.role}" th:text="${role.getAuthority()}"/>
            </div>
        </div>
    </div>

    <br/>
    <input type="submit" value="Update!"/>
</form>

<button>
    <a th:href="@{/logout}">Logout</a>
</button>

</body>
</html>