<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div th:each="user : ${users}">
    <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
    <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getRoles()}">user</a>
</div>

<br/>
<hr/>

<button>
    <a th:href="@{/admin/new}">Create user</a>
</button>

<button>
    <a th:href="@{/logout}">Logout</a>
</button>

</body>
</html>