<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<table border="1" cellpadding="7">
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th> Roles</th>
    </tr>
    <tr>
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getRoles()}"></td>
    </tr>
</table>

<button>
    <a th:href="@{/logout}">Logout</a>
</button>

</body>
</html>