<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>

<div th:insert="navbar.html"></div>

<br>
<div class="container-fluid mt-5">
    <div class="row vh-100">
        <div class="col-2 nav flex-column nav-pills" id="pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active mt-3" data-toggle="pill" href="#admin" role="tab"
               aria-controls="#admin" aria-selected="true">
                Admin</a>
            <a class="nav-link" data-toggle="pill" href="#user" role="tab"
               aria-controls="user" aria-selected="false">User</a>
        </div>

        <div class="col-10 bg-light px-5">
            <div class="tab-content" id="adminUser">
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users" role="tab">User Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser" role="tab">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="adminPanel">
                        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users">
                            <div class="card">
                                <div class="card-header">
                                    <strong>All users</strong>                               
                                </div>
                                <div>

                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th th:text="ID"></th>
                                                <th th:text="FirstName"></th>
                                                <th th:text="LastName"></th>
                                                <th th:text="Age"></th>
                                                <th th:text="Email"></th>
                                                <th th:text="Roles"></th>
                                                <th th:text="Edit"></th>
                                                <th th:text="Delete"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="allUsersTable">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="newUser" role="tabpanel"
                             aria-labelledby="newUser">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Add new user</strong>
                                </div>
                                <div class="card-body">
                                    <form class="text-center mx-auto w-25">
                                        <div class="form-group">
                                            <strong><label for="addNewUserName"> FirstName </label></strong>
                                            <input type="text" id="addNewUserName" name="FirstName"
                                                   class="form-control my-0">
                                        </div>
                                        <div class="form-group">
                                            <strong><label for="addNewUserLastName"> LastName </label></strong>
                                            <input type="text" id="addNewUserLastName" name="LastName"
                                                   class="form-control my-0">
                                        </div>
                                        <div class="form-group">
                                            <strong><label for="addNewUserAge"> Age </label></strong>
                                            <input type="number" id="addNewUserAge" name="Age"
                                                   class="form-control my-0">
                                        </div>
                                        <div class="form-group">
                                            <strong><label for="addNewUserPass"> Pass </label></strong>
                                            <input type="password" id="addNewUserPass" name="Pass"
                                                   class="form-control my-0">
                                        </div>
                                        <div class="form-group">
                                            <strong><label for="addNewUserEmail"> Email </label></strong>
                                            <input type="text" id="addNewUserEmail" name="Email"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <strong><label for="newUsersRoles"> Роль </label></strong>
                                            <select multiple name="newUsersRoles" class="form-control" size="2"
                                                    id="newUsersRoles"
                                                    th:required="true">
                                            </select>
                                        </div>
                                        <input type="button" id="addNewUser-btn" class="btn btn-success mb-2"
                                               value="Add new user">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editModal" tabindex="-1"
                     aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit
                                        user</h5>
                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="editId">ID</label></strong>
                                            <input id="editId"
                                                   type="text"
                                                   class="form-control"
                                                   readonly
                                                   th:attr="name='Id'"/>
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="editFirstName">FirstName</label></strong>
                                            <input
                                                    id="editFirstName"
                                                    type="text"
                                                    class="form-control"
                                                    th:attr="name='FirstName'">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="editLastName">LastName</label></strong>
                                            <input
                                                    id="editLastName"
                                                    type="text"
                                                    class="form-control"
                                                    th:attr="name='LastName'">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="editAge">Age</label></strong>
                                            <input
                                                    id="editAge"
                                                    type="number"
                                                    class="form-control"
                                                    th:attr="name='Age'">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label for="editEmail">Email</label></strong>
                                            <input
                                                    id="editEmail"
                                                    type="text"
                                                    class="form-control"
                                                    th:attr="name='Email'">
                                        </div>
                                    </div>
                                    <input type="hidden"
                                           id="editOldPassword"
                                           th:attr="name='Pass'"/>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label for="editNewPassword">New
                                                password</label></strong>
                                            <input
                                                    id="editNewPassword"
                                                    type="password"
                                                    class="form-control"
                                                    name="newPass">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="editUsersRoles">Роль</label></strong>
                                            <select multiple name="editUsersRoles"
                                                    class="form-control" size="2" editUsersRoles
                                                    id="editUsersRoles"
                                                    th:required="false">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            id="close-edit-btn"
                                            class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                    <button type="button" id="editButton"
                                            class="btn btn-primary">Edit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal fade" id="deleteModal"
                     tabindex="-1"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">
                                        Delete user</h5>
                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <div class="form-group  justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="deleteId">ID</label></strong>
                                            <input type="text"
                                                   class="form-control"
                                                   id="deleteId"
                                                   readonly
                                                   th:attr="name='Id'">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="deleteFirstName">FirstName</label></strong>
                                            <input type="text"
                                                   class="form-control"
                                                   id="deleteFirstName"
                                                   readonly
                                                   th:attr="name='FirstName'">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="deleteLastName">LastName</label></strong>
                                            <input type="text"
                                                   class="form-control"
                                                   id="deleteLastName"
                                                   readonly
                                                   th:attr="name='LastName'">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="deleteAge">Age</label></strong>
                                            <input type="text"
                                                   class="form-control"
                                                   id="deleteAge"
                                                   readonly
                                                   th:attr="name='Age'">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="deleteEmail">Email</label></strong>
                                            <input type="text"
                                                   class="form-control"
                                                   id="deleteEmail"
                                                   readonly
                                                   th:attr="name='Email'">
                                        </div>
                                    </div>
                                    <div class="form-group justify-content-center row">
                                        <div class="col-5">
                                            <strong><label
                                                    for="deleteUsersRoles">Role</label></strong>
                                            <select multiple
                                                    name="deleteUsersRoles"
                                                    class="form-control"
                                                    size="2"
                                                    id="deleteUsersRoles"
                                                    disabled="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            id="close-delete-btn"
                                            class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                    <button type="button" id="deleteButton"
                                            name="id"
                                            class="btn btn-danger">Delete
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <h1>User information-page</h1>
                    <div class="card">
                        <div class="card-header">
                            <strong>About user</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th th:text="id"></th>
                                    <th th:text="firstName"></th>
                                    <th th:text="lastName"></th>
                                    <th th:text="age"></th>
                                    <th th:text="email"></th>
                                    <th th:text="roles"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${loggedInUser.getId()}"></td>
                                    <td th:text="${loggedInUser.getFirstName()}"></td>
                                    <td th:text="${loggedInUser.getLastName()}"></td>
                                    <td th:text="${loggedInUser.getAge()}"></td>
                                    <td th:text="${loggedInUser.getEmail()}"></td>
                                    <td th:text="${#strings.replace(loggedInUser.getRoles(), 'ROLE_', '')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="../../js/users.js"></script>
<!--<script src="../static/js/users.js" ></script> для работы локально-->

</body>
</html>
